body {
    margin: 0;
}
.grey-border {
    border: 3px solid grey;
}
.main-container {
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.header,
.nav,
.footer {
    height: 10%;
}
.main-section {
    height: 70%;
    display: flex;
    gap: 3px;
}
.content {
    width: 15%;
}
.main-content {
    flex: 1;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BOXES */
.boxes {
    height: 100vh;
    background-image: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-row {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 0.95%;
    z-index: 1;
}
.box {
    width: 23.6%;
    height: 100px;
    background-color: white;
    border: solid 1px;
    margin-bottom: 5px;
}
/* Overlay */
.overlay-container {
    height: 100vh;
    background-image: url("../images/houses-bg.jpeg");
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
    z-index: -1;
    background-color: crimson;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
}

@media only screen and (max-width: 700px) {
    .box {
        width: 32%;
    }
}

@media only screen and (max-width: 550px) {
    .box {
        width: 49%;
    }
}

@media only screen and (max-width: 400px) {
    .box {
        width: 100%;
    }
}
